name: Maven Package + Docker Image

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Build & Push Docker Image
        run: mvn -B clean spring-boot:build-image -DskipTests
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKER_USER }}
          DOCKERHUB_PWD:  ${{ secrets.DOCKER_PWD }}

      - name: Publish to GitHub Packages (Maven)
        run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_TOKEN: ${{ github.token }}
